# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Assignment1/Assignment1.sdf
Assignment1/Assignment1.v12.suo
Assignment1/Assignment1/Debug/Assignment1.Build.CppClean.log
*.tlog
Assignment1/Assignment1/Debug/Assignment1.log
*.obj
*.obj
Assignment1/Assignment1/Debug/Main.obj
*.idb
*.log
*.zip
Assignment1/Assignment1/Debug/Main.obj
*.pdb
Assignment1/AsteroidsMania/SDL2.dll
*.exe
*.dll
*.txt
